/* Add these styles to your existing sofa.css or create a new CSS file */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid red;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card__image {
    width: 100%;
    height: auto;
}

.card-title {
    padding: 15px;
    background-color: #f8f8f8;
}

.card-title h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.card-title small {
    font-size: 14px;
    color: #888;
}

.product-details {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.product-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.product-details p {
    font-size: 18px;
    color: #555;
}

.error_h1 {
    text-align: center;
    margin-top: 500px;
}

.error_h3 {
    text-align: center;
    /* margin-top: 500px; */
 }

